
<footer class="mt-5 p-5 bg-secondary-subtle">

    <div class="row">

        <div class="col-md-4">

            <h3 class="fs-5 mb-4">Risorse</h3>

            <p>Gift card</p>
            <p>Trova un negozio</p>
            <p>LabAir journal</p>
            <p>Diventa member</p>
            <p>Sconto studenti</p>
            <p>Feedback</p>
            <p>Codici Promozionali</p>

        </div>

        <div class="col-md-4">

            <h3 class="fs-5 mb-4">Assistenza</h3>
            <p>Hai bisogno di aiuto?</p>
            <p>Stato ordine</p>
            <p>Spedizione e consegna</p>
            <p>Resi</p>
            <p>Opzioni di pagamento</p>
            <p>Contattaci</p>
            <p>Recensioni</p>
            <p>Assistenza codici promozionali LabAir</p>

        </div>

        <div class="col-md-4">

            <h3 class="fs-5 mb-4">Azienda</h3>

            <p>Informazioni su LabAir</p>
            <p>News</p>
            <p>Lavora con noi</p>
            <p>Investitori</p>
            <p>Sostenibilità</p>
            <p>Obiettivo</p>

        </div>

        

    </div>
</footer>