<app-header></app-header>

<h1 *ngIf="loggedUser" class="mt-5 mb-3">Ciao {{loggedUser!.user!.nome}}!</h1>

<p>Questa è la tua area personale dalla quale potrai effettuare nuovi ordini e visualizzare tutti gli ordini precedenti.</p>

<div class="my-5">

    <h1>Ordini effettuati in precedenza</h1>

    <hr>

    <div *ngIf="errorMessage" class="text-danger m-3 p-3">

      <p>{{errorMessage}}</p>

    </div>

    <div *ngIf="!ordersWithProducts || ordersWithProducts.length === 0" class="m-3 p-3">

      <p>Non hai ancora effettuato ordini: cosa aspetti!</p>

    </div>

    <ng-container *ngIf="ordersWithProducts">
      <div *ngFor="let o of ordersWithProducts" class="my-5">

        <h3 class="mb-3 fw-bold">n° ordine: {{o.ordine.id}}</h3>
      
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
          <div class="col" *ngFor="let p of o.prodotti">
            <div class="card h-100" >
              <img [src]="p.immagine" class="card-img-top" alt="immagine scarpa">
              <div class="card-body">
                <h5 class="card-title">{{p.nome}}</h5>
                <ul>
                  <li>Colore: {{p.colore}}</li>
                  <li>Taglia: {{p.taglia}}</li>
                  <li>Quantità: {{p.num_pezzi}}</li>
                  <li>Prezzo totale: {{p.prezzo_totale}}</li>
                </ul>
                  
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>
</div>