.heigth-50{height: 50px;}
.width{width: 30%;}

@media (max-width: 992px) {
    #top-menu {
      display: none; /* Nasconde il menu superiore su schermi piccoli */
    }

    #navbarToggler .nav-item.d-lg-none {
      display: block; /* Mostra le voci del menu aggiuntivo nella navbar su schermi piccoli */
    }

    .width{width: 100%;}
  }

  @media (min-width: 992px) {
    #navbarToggler .nav-item.d-lg-none {
      display: none; /* Nasconde le voci del menu aggiuntivo nella navbar su schermi grandi */
    }
  }
