

.velo{

    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.popup{

    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    border: rgb(128, 128, 128) solid 1px;

}

.imgW{max-width: 40%;}


@media (min-width:768px){

    .popup{

        max-width: 40%;
        height: 370px;
        top: 0;
        right: 20px;
    
    }
    

    
}


@media (min-width: 992px){
.implementazioneGRID{

    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-template-areas:
    "img titolo"
    "img descrizione"
    "img taglie"
    "img colore"
    "img bottoni";

}

.imgGRID{grid-area: img; margin-right: 50px;}
.titoloGRID{grid-area: titolo;}
.descrizioneGRID{grid-area: descrizione;}
.taglieGRID{grid-area: taglie;}
.coloreGRID{grid-area: colore;}
.bottoniGRID{grid-area: bottoni;}




}

