
<div class="container my-5">
        
    <div class="text-center my-5">

        <h1 class="text-success mb-5">Ordine effettuato con successo!</h1>
        <i class="bi bi-emoji-smile text-success fs-1"></i>

        <p class="my-3 fs-4">Grazie per averci scelto! <br>
            Il tuo ordine arriverà in 4-5 giorni lavorativi. <br>
            Per qualsiasi dubbio o problema, non esitare a contattarci!
            </p>

    </div>

    <p class="fs-4"><a routerLink="">Torna alla Home</a></p>

</div>