<app-header></app-header>

<h1 class="my-5">Risultati per la ricerca "{{searchTerm}}"</h1>


<div *ngIf="!searchResults.length" class="m-3">

    <p>Ci dispiace! Nessun prodotto trovato!</p>

</div>

<div *ngIf="errorMessage" class="m-3 text-danger">

    <p>{{errorMessage}}</p>

</div>

<ng-container *ngIf="searchResults.length">

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

        <app-product-preview 
            *ngFor="let p of searchResults"
            [product]="p"

        ></app-product-preview>
        
    </div>
</ng-container>


